<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<h1>Welcome!</h1>

<button id="btn1">Show some walks</button>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css">

<div id="msg"></div>
<div id="loginmodal">
    <h1>User Login</h1>
    <form id="loginform" name="loginform" method="post" action="login">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" class="txtfield" tabindex="1">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="txtfield" tabindex="2">

        <div class="center"><input type="submit" id="loginbtn" class="flatbtn-blu hidemodal" value="Log In"
                                   tabindex="3"></div>
    </form>
</div>

<script>
    //just for simple interaction
    $("#btn1").click(function () {

        $.ajax({
            type: 'GET', // define the type of HTTP verb we want to use (POST for our form)
            url: '/api/walks', // the url where we want to POST
            dataType: 'json', // what type of data do we expect back from the server
            contentType: "application/json",
            beforeSend: function (request) {
                request.setRequestHeader("X-Authorization", getAuthHeader());
            }
        })
        // using the done promise callback
                .done(function (data) {
                    alert("Data: " + data[0].name + "\nStatus: " + status);
                });
    });
</script>


</body>
</html>